extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- My name.
        h1 Carla de Barros

        //- Title
        p.lead.text-light
          | Full Stack JavaScript Developer in Training

        //- Elevator pitch.
        .portfolio-bio
          p
            | Hey, I’m Carla and I am a Full Stack JavaScript Developer in training. I am part of a Boston based cohort participating in the Treehouse Apprenticeship Program and I am absolutely enjoying this experience. While it takes me out of my comfort zone, it has allowed me to look at things from different perspectives. I am learning tons of new and exciting things! While working on my projects, I have had experience with jQuery, HTML, CSS, Fetch API, Node.js, Express, and Pug. I cannot wait to put in practice all these skills I’m acquiring in this journey and I am confident I will be a great asset to your company. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- My skills.
        ul
          li JavaScript
          li Python
          li JQuery
          li HTML
          li CSS
          li JSON
          li HTTP
          li Ajax
          li Fetch API
          li Express
          li Node.js
          li Pug 
          
        h6 Contact Info

        //- Contact info
        ul
          li 617-933-1926
          li carladeb@gmail.com

        //- Social media accounts.
        a.button.expanded(href='https://www.linkedin.com/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/kayaCV' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/' target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  